* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.paragraph {
  padding: 10px;
}

.paragraph h2 {
  padding-bottom: 20px;
  font-size: 35px;
}

.currency-list {
  padding-left: 50px;
  font-size: 20px;
}

.exchange-rates {
  border: 2px outset lightgrey;
  font-size: 20px;
}

.exchange-rates th,
td {
  border: 2px inset lightgrey;
}

.exchange-rates th {
  padding: 2px 10px;
}

.exchange-rates td:nth-child(n+2) {
  padding: 0 10px;
}

.exchange-rates td:nth-child(-n+1) {
  display: flex;
}

.flag {
  object-fit: cover;
  padding: 2px;
  width: 60px;
  height: 40px;
}